<div class="container">   
  <div  class= "row" > 
    <div  class= "col-md-6 text-center"> <%= image_tag("parqueogrupo.jpg", :alt => "rss feed") %> </div> 
  
    <div  class= "col-md-6 text-justify" > <h3> UN POCO DE 
  NUESTRA HISTORIA
  TU PARQUEO SAC </h3>Tu PARQUEO nació en 1977 promovida por las principales 
  empresas privadas y concesionarias de España. Con posterioridad se han ido
  asociando todas aquellas empresas que desarrollan su actividad en el sector:
  sociedades municipales, aparcamientos de residentes, aparcamientos de superficie,
  profesionales, garajes.
  
  
   </div> 
  
  </div> 
  
  <br>
  
  
  <div  class= "row" > 
    <div  class= "col-md-4 text-justify" > <h3> Misión </h3>
  Administrar los estacionamientos y la circulación de las personas con
  responsabilidad, seguridad y rentabilidad, buscando el reconocimiento del
  mercado manteniendo la ética en sus relaciones con socios, clientes y la
  comunidad.
  En Entu parqueo trabajamos bajo un esquema de:
  1.- Dar valor agregado para nuestros productos de la más alta calidad.
  2.- Ofrecer bienestar y desarrollo creciente y sostenido para nuestros socios, colaboradores y la comunidad a la que pertenecemos.
  3.- Ser una organización con una gestiòn eficiente y productiva.
  4.- Ser una empresa con responsabilidad social y ecológicamente responsable. </div> 
    <div  class= "col-md-4 text-justify" > <h3>Visión</h3>
  TU PARQUEO SAC esta comprometida a ser una de las empresas lideres en el sector vehicular a nivel nacional, proyectándose al mercado internacional, mediante la innovación de productos acorde con las nuevas tendencias y exigencias de calidad del mercado. 
  Ser reconocidos globalmente a mediano plazo como una empresa de parqueo de alta calificaciónn mejorando nuestra rentabilidad.
  
  </div> 
    <div  class= "col-md-4 text-justify" > <h3>Filosofía</h3>
  Nuestros Valores y Filosofí­a son un reflejo de la empresa social y ambientalmente responsable que aspiramos ser. Nuestro Compromiso Estamos comprometidos a ofrecer un crecimiento sostenido a través de personas que actúen con responsabilidad y de confianza. </div> 
  
</div>