	<div class="hero">
			<h1>Tu Parking en:</h1>
				<form class="form-inline">
			  <div class="form-group">
				<input type="date" class="form-control" id="fechaInicio" placeholder="Fecha Inicio">
			  </div>
				  <div class="form-group">
					  <input type="date" class="form-control" id="fechaFin" placeholder="Fecha Fin">
				  </div>
				  <div class="form-group">
					  <select id="district" class="form-control">
						  <option>San Isidro</option>
						  <option>Surco</option>
						  <option>San Miguel</option>
					  </select>
				  </div>
			<button type="submit" class="btn btn-success">Buscar</button>
			</form>
			<br>
			</br>
	</div>

			<div class="row">
				<div class="col-md-3">
				<br>
              	<%= image_tag 'surco' %>
					<div class="caption">
						<h3>Parking Uno</h3>
						<p>Se encuentra en un lugar centrico de Surco</p>
					</div>                
				</div>
								
				<div class="col-md-3">
					<br>
					<%= image_tag 'SanIsidro' %>
					<h3>Parking Dos</h3>
					<p>Se encuentra en un lugar comercial de San Miguel</p>
				</div>
				
				<div class="col-md-3">
					<br>
					<%= image_tag 'SanMiguel' %>
					<h3>Parking Tres</h3>
					<p>Se encuentra en el centro financiero de San Isidro</p>
				</div>						
			</div>