  		<div class="panel panel-primary">
        	<div class="panel-heading">Recuperar Contraseña</div>
            	<div class="panel-body">
  

 					 <form>
 						 <div class="form-group">
   							 <label for="exampleInputEmail1">Email address</label>
  							  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
 						 </div>


                              <button type="submit" class="btn btn-default">Enviar</button>
  
</form>
</div>
</div>
</div>