<div class="container">
    <h3> Testimonios </h3>
  <div class="row">
     <div class="col-md-2">
       <a href="#" class="thumbnail">
         <%= image_tag '1447' %>
       </a>
     </div>
     <div class="col-md-10">
         "Fue una buena decisión contratar sus servicios. Estoy muy contento con el diseño brindado. Siempre han aportado soluciones originales a los retos planteados. Demás está decir que ante cualquier dificultad siempre encuentro quién me atienda y solucione los problemas rápidamente. Gracias OPTICAL!"
      </div>
    </div>
    <div class="row">
     <div class="col-md-2">
       <a href="#" class="thumbnail">
         <%= image_tag '1447' %>
       </a>
     </div>
     <div class="col-md-10">
         "Fue una buena decisión contratar sus servicios. Estoy muy contento con el diseño brindado. Siempre han aportado soluciones originales a los retos planteados. Demás está decir que ante cualquier dificultad siempre encuentro quién me atienda y solucione los problemas rápidamente. Gracias OPTICAL!"
      </div>
    </div>
    <div class="row">
     <div class="col-md-2">
       <a href="#" class="thumbnail">
         <%= image_tag '1447' %>
       </a>
     </div>
     <div class="col-md-10">
         "Fue una buena decisión contratar sus servicios. Estoy muy contento con el diseño brindado. Siempre han aportado soluciones originales a los retos planteados. Demás está decir que ante cualquier dificultad siempre encuentro quién me atienda y solucione los problemas rápidamente. Gracias OPTICAL!"
      </div>
    </div>
</div>