<div class="row">
         <div class="col-xs-6 col-md-3">
           <a href="#" class="thumbnail">
             <%= image_tag("IMG_0932.JPG", :alt => "rss feed") %>
           </a>
        </div>

        </div>

<div>
 <button type="submit" class="btn btn-default">MIS DATOS</button> 
</div>
<div>
  <button type="submit" class="btn btn-default">MIS RESERVAS</button>
</div> 
<div> 
   <button type="submit" class="btn btn-default">MIS PARQUEOS</button>
</div>
<div>
    <button type="submit" class="btn btn-default">MIS FAVORITOS</button>
</div>
</form>	