  	<div class="container">
  <div class="row">
    <div class='col-md-4 col-sm-offset-4 '>
  		<div class="panel panel-primary">
        	<div class="panel-heading">Recuperar Contraseña</div>
            	<div class="panel-body">
 					 <form action="login" method="GET">
 						<div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
 						</div>
                        <button type="submit" class="btn form-control btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>