// Place all the styles related to the Parking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-search{
    margin: 20px;
}

#list-caracteristicas ul li{
    display: inline-block;
    width: 45%;
}
#list-search {
    height: 545px;
    overflow-x: hidden;
    div.row{
        margin: 3px 0;
        .content-params-parkings{
            position: absolute;
            i{
                color: red;
                font-size: 30px;
            }
        }
        a{
            color: #000;
            
        }
        &.col-principal.active{
            box-shadow: 0px 1px 13px 3px;
            margin: 10px 0 !important;
            padding: 5px 0;
        }
    }
}