// Place all the styles related to the Parking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-search{
    margin: 20px;
}

#list-caracteristicas ul li{
    display: inline-block;
    width: 45%;
}
#list-search div.row{
    margin: 3px 0;
    a{
        color: #000;
    }
}