<div>
 		<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Direccion</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Descripcion</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Fotos</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block"></p>
  </div>
<div class="form-group">
     <div class="checkbox">
    <label>
      <input type="checkbox"> dia

    </label>
  </div>
 <div class="checkbox">
    <label>
      <input type="checkbox"> mes
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> año
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
 	</div> 	 



<TITLE>
<b> DIRECCION </b>
</TITLE>
<HEAD>

<b>CARACTERISTICAS</b>

<div class="checkbox">
    <label>
      <input type="checkbox">  TECHO
    </label>
  </div>

<div class="checkbox">
    <label>
      <input type="checkbox">  CAMARAS SEGURIDAD
    </label>
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox">  VIGILANCIA
    </label>
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox">  24 HORAS
    </label>
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox">  POR HORA 
    </label>
  </div>




